

 <ion-card class="location-card" *ngIf="postData" [routerLink]="['/details', postData.id]">
  <div >
    <img src="{{ postData?.data?.postImgPath }}" />
    <!-- <ion-chip class="ion-padding">
      <ion-label color="white" *ngIf="postData?.data?.isFeatured"> Featured</ion-label>
    </ion-chip> -->
  </div>
  <ion-item lines="none">            
    <ion-label class="ion-text-wrap">
      <ion-text class="title">{{ postData?.data?.title }}</ion-text>
      <p>
        <ion-text color="medium">
          {{postData?.data?.category?.category}}
        </ion-text>
      </p>
    </ion-label>
    <!-- <ion-fab-button size="small" slot="end" color="white">
      <ion-icon name="heart-outline" color="medium"></ion-icon>
    </ion-fab-button> -->
  </ion-item>
</ion-card>